[user]
	email = ahsanalmahir@gmail.com
	name = M Ahsan Al Mahir
[core]
	editor = nvim
[color]
	ui = true
[credential]
	helper = store
[init]
	defaultBranch = main
[http]
	postBuffer = 18443717
[push]
	autoSetupRemote = true
[protocol "file"]
	allow = always
[credentials]
	helper = store
