# snippet ' in' "in a list" wrA
#  <-
# endsnippet

# snippet '([ ]ge|[ ]le|[ ]eq)' "math commands" wrA
# `!p
# dic={' ge':'>=', ' le':'<=', ' eq':'=='}
# key=match.group(1)
# snip.rv =  " "+dic[key]
# `
# endsnippet

# snippet ; ":" iA
# :
# endsnippet

snippet >> "->" iA
->
endsnippet

snippet << "<-" iA
<-
endsnippet

snippet imp "=>" iA
=>
endsnippet

snippet =>o "import" iA
impo
endsnippet

snippet ->= "bind" iA
>>=
endsnippet
