snippet bf "bold" i
__${1:${VISUAL}}__$0
endsnippet

snippet tt "fixed-width" i
\`\`${1:${VISUAL}}\`\`$0
endsnippet

snippet it "italic" i
_${1:${VISUAL}}_$0
endsnippet

snippet sec "section" i
#$1
endsnippet

snippet ssec "section" i
##$1
endsnippet
