snippet def "definition" b
def $1($2):
	$3

$0
endsnippet

snippet for "for" b
for $1 in $2:
	$3

$0
endsnippet

snippet opf "open file" i
with open($1) as $2:
	$3
$0
endsnippet

snippet __ "class methods" iA
__$1__$0
endsnippet
